<ion-view view-title="{{lecturer.name}}">
  <ion-content>
    <div class="lecturer-details">
      <img ng-src="{{lecturer.photo}}" style="width: 100px; height: 120px">
      <p style="color: #33cd5f;" ng-show="lecturer.available">
        <i class="fa fa-circle" aria-hidden="true" style="margin-right: 8px;"></i>
        Available
      </p>
      <p style="color: rgba(46,0,21,0.07);" ng-hide="lecturer.available">
        <i class="fa fa-circle" aria-hidden="true" style="margin-right: 8px;"></i>
        Unavailable
      </p>
      <h4>
        <b>{{lecturer.salutation}} {{lecturer.name}}</b>
      </h4>
      <p><b>{{lecturer.post}}</b></p>
      <small>{{lecturer.department}}</small>
    </div>
    <div class="appointment-details">
      <input type="date" placeholder="Date" ng-model="formData.apptDate">
      <textarea rows="6" placeholder="Message" ng-model="formData.message"></textarea>
      <button ng-click="requestAppointment()">REQUEST APPOINTMENT</button>
    </div>
  </ion-content>
</ion-view>
