<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="card" ng-repeat="apt in appointments">
      <a class="item item-avatar">
        <img ng-src="{{lecturers[apt.lecturer].photo}}">
        <div><b>{{lecturers[apt.lecturer].salutation}} {{lecturers[apt.lecturer].name}}</b>
          <i ng-show="lecturers[apt.lecturer].available" class="fa fa-circle" aria-hidden="true" style="margin-left: 1px; color: #33cd5f; font-size: 10px;"></i>
        </div>
        <small>{{lecturers[apt.lecturer].post}}</small>
        <p>{{apt.message}}</p>
      </a>
      <div class="item item-divider">
        <b style="float:left;">Pending</b>
        <b style="float: right; color:#0b63a0">{{apt.date | date:'dd-MM-yyyy'}}</b>
      </div>
    </div>
  </ion-content>

  <div class="login-bk-inner"></div>
  <div class="login-bk"></div>
</ion-view>
