<ion-view view-title="Chats">
  <div class="search-strip">
    <input type="text" placeholder="Search" ng-model="searchText">
  </div>
  <ion-content class="has-search-bar">
    <div class="card" ng-repeat="lecturer in lecturers | filter: searchText | orderBy:'name'" ng-if="lecturer.uid">
      <a class="item item-avatar">
        <img ng-src="{{lecturer.photo}}">
        <div><b>{{lecturer.salutation}} {{lecturer.name}}
          <i ng-show="lecturer.available" class="fa fa-circle" aria-hidden="true" style="margin-left: 1px; color: #33cd5f; font-size: 10px;"></i>
        </div>
        <div class="post-text"><small>{{lecturer.post}}</small></div>
      </a>
      <div class="item item-divider">
        <a style="float: right" href="#/tab/chats/{{lecturer.uid}}" class="link-book">
          <b>Book Appointment</b>
        </a>
      </div>
    </div>
  </ion-content>

  <div class="login-bk-inner"></div>
  <div class="login-bk"></div>
</ion-view>
