<ion-view view-title="Chats">
  <div class="search-strip">
    <input type="text" placeholder="Search" ng-model="searchText">
  </div>
  <ion-content>
    <div class="card" ng-repeat="chat in chats | filter: searchText">
      <a class="item item-avatar">
        <img src="img/avatar.png">
        <div><b>{{chat.name}}</b> <i class="fa fa-smile-o" aria-hidden="true"></i> <i class="fa fa-frown-o" aria-hidden="true"></i>
        </div>
        <div><small>Senior Lecturer</small></div>
      </a>
      <div class="item item-divider">
        <a style="float: right" href="/#/tab/chats/{{chat.id}}" class="link-book">
          <b>Book Appointment</b>
        </a>
      </div>
    </div>
  </ion-content>

  <div class="login-bk-inner"></div>
  <div class="login-bk"></div>
</ion-view>
