/* Empty. Add your own CSS if you like */

@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

a{
  text-decoration: none;
}

.tabs {
  height: 62px;
}

.tabs-top .tabs{
  background-color: #00897B;
}

.tabs-top .tabs{
  padding-top: 12px;
  top: 0px;
}

.has-tabs-top {
  top: 85px;
}

.has-search-bar {
  top: 120px;
}

.item-divider {
  background-color: transparent;
}

/*Active tab*/
ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.activated{
  color: #f1f2f3;
}

/*
Login screen
 */

.login-bk-inner{
  background-image: url("../img/bk-img.jpg");
  -webkit-background-size:cover;
  background-size: cover;
  background-position: center;
  filter: brightness(0.3);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -2;
}

.login-bk{
  background-color: #0f4f60;
  z-index: -1;
  height: 100%;
  width: 100%;
  top: 0;
  position: fixed;
  opacity: 0.4;
}

.login-layer{
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: transparent;
  position: fixed;
}

.logo-center {
  margin-top: 10%;
  text-align: center;
}

.logo-center img{
  width: 60px;
}

.logo-center h1{
  margin-left: 10px;
  font-family: 'Fredoka One', cursive;
  letter-spacing: 20px;
  margin-top: 10px;
  color: #f1f2f3;
}

.logo-center h2{
  margin-left: 10px;
  font-family: 'Fredoka One', cursive;
  letter-spacing: 10px;
  margin-top: 10px;
  color: #f1f2f3;
}

.login-form{
  padding: 10px;
  text-align: center;
  margin-top: 5%;
}

.login-form input{
  width: 80%;
  padding-bottom: 5px;
  margin: 20px auto;
  border-bottom: 0.5px solid #c0c0c0;
  background-color: transparent;
  color: #d6d6d6;
  padding-left: 5px;
}

.login-form select{
  width: 80%;
  padding-bottom: 5px;
  border-bottom: 0.5px solid #c0c0c0;
  background-color: transparent;
  color: #d6d6d6;
  margin-bottom: 0px;
  margin-top: 10px;
  height: 40px;
  padding-left: 5px;
}

.login-form option{
  color: #222222;
  width: 80%;
}

/*Input Errors*/
.input-error {
  border-bottom: 0.5px solid #c00009 !important;
}

.login-form .login-button{
  padding: 20px;
  background-color: #00897B;
  border: none;
  width: 80%;
  margin-top: 5%;
  color: #f5f5f5;
  letter-spacing: 5px;

  font-family: 'Fredoka One', cursive;

}

.login-form .signup-msg{
  margin-top: 10%;
  font-family: 'Fredoka One', cursive;
  font-weight: 100;
  color: #b1b1b1;
}

/*Lecturers List*/
.post-text small{
  word-wrap: break-word;
  width: 40px;
}

.fa-smile-o {
  color: #079d00;
}

.fa-frown-o {
  color: #f32a2b;
}

.search-strip{
  position: fixed;
  top: 75px;
  width: 100%;
}

.search-strip input{
  width: 95%;
  margin: auto;
  border: none;
  padding: 5px 10px;
}

.link-book {
  color: rgb(12, 130, 152);
}

.email-verify{
  margin-top: 40px;
}
.email-verify h3,p{
  color: #f1f2f3;
}

/*Lecturer Details*/
.lecturer-details{
  text-align: center;
  color: #222222;
}

.lecturer-details p{
  color: #222222;
  margin: 0;
}

.lecturer-details h4{
  margin-bottom: 4px;
}

.lecturer-details img{

}

.appointment-details{
  width: 90%;
}

appointment-detail textarea{
  width: 90%;
}
